/* styles.css */

/* Green checkbox with white tick */
input[type="checkbox"].green-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #6B7280; /* Default border color */
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

/* Green background when checkbox is checked */
input[type="checkbox"].green-checkbox:checked {
  background-color: #0F6100; /* Green color */
  border-color: #0F6100; /* Green color */
}

/* White tick mark */
input[type="checkbox"].green-checkbox:checked::before {
  content: '\2713'; /* Unicode for check mark */
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 4px;
}
